.base {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  padding: 0 var(--space-md);
  border-radius: var(--rounded-md);
  white-space: nowrap;
  color: var(--black);

  &:hover {
    opacity: var(--opacity-7);
  }
}

.contained {
  background-color: var(--gray-10);
}

.primary {
  background-color: var(--blue);
  color: var(--white);
}

.secondary {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.rounded {
  border-radius: var(--rounded-full);
}

.disabled {
  opacity: 0.3;

  &:hover {
    opacity: 0.3;
  }
}

.full {
  width: 100%;
}
